.margin{
    margin-left: 200px;
    margin-right: 200px;
}

#logo{
    background-image: url(../img/pattern.png);
    background-color: rgb(69, 146, 235);
    padding-top: 50px;
    padding-bottom: 20px;
}

#width{
    width: 200px;
}

body{
    font-family:'Georgia','Times New Roman', Times, serif;
    margin: 0;
}

.size1{
    font-size: 35px;
}

.size2{
    font-size: 13px;
    margin-bottom: 20px;
}

.blue-text{
    color: rgb(69, 146, 235);
}

.grey-text{
    color: rgb(150, 150, 150);
}

.yellow{
    background-color: yellow;
}

thead{
    color: white;
    background-color: rgb(69, 146, 235);
}

.bluebg{
    background-color: rgb(145, 201, 253);
}

.table-margin{
    margin: 20px;
    padding: 40px;
}

table{
    text-align: left;
    padding-top: 20px;
    border-collapse: collapse;
}

td{
    width: 35rem;
}

#picture1{
    background-image: url(../img/monitor.jpg);
    color: rgb(255, 255, 255);
    width: 18rem;
    height: 12rem;
    padding-top: 10px;
    padding-left: 10px;
}

#picture2{
    background-image: url(../img/graph.jpg);
    color: rgb(255, 255, 255);
    width: 18rem;
    height: 12rem;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
}