.margin{
    margin-left: 200px;
}

#logo{
    background-image: url(../img/pattern.png);
    background-color: rgb(69, 146, 235);
    padding-top: 50px;
    padding-bottom: 20px;
}

#width{
    width: 200px;
}

.font{
    font-family:'Georgia','Times New Roman', Times, serif;
}

.size1{
    font-size: 35px;
}

.size2{
    font-size: 13px;
}

.right{
    margin-right: 900px;
}

.blue-text{
    color: rgb(69, 146, 235);
}

.grey-text{
    color: rgb(150, 150, 150);
}

.yellow{
    background-color: yellow;
}

#table-head{
    color: white;
    background-color: rgb(69, 146, 235);
}

.table-body{
    background-color: rgb(145, 201, 253);
}

.table-margin{
    margin: 20px;
    padding: 40px;
}